* {
    font-family     : Bookman, URW Bookman L, serif;
    background-color: rgb(108, 158, 223);
}

h1 {

    /* color: red */
}

p {
    /* color: blue */
}

li {
    text-align: center;
}

a {
    font-style: italic;
}